@charset "utf-8";


/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('fonts/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* MAIN CONTENT STARTS HERE*/

* {
    box-sizing: border-box;
}
body {
	color : #3a3a3a;
	font-family: 'Roboto';
	line-height: 30px;
	background-color : #F7F8FA;
	margin: 0;
}
ul, dl {
    padding : 0;
    margin : 0;
}
h1 {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 1.7em;
	margin: 0;
	padding: 40px 0 30px 30px;
	text-align: center;
}
.descript {
	font-size: 1.3em;
	font-weight: 200;
	color: #000;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.descript a {
	color: #0053F9;
}
.sub {
  padding-bottom: 15px;
}
h2 {
	font-family: 'Roboto';
	font-size: 1.5em;
	font-weight : 400;
	color: #444;
	padding-left: 30px;
}
h3 {
	margin-top : 0;
	font-size : 1.1em;
	color: #FFFFFF;
	text-align: center;
	padding-top: 0.4em;
	padding-right: 0.2em;
	padding-bottom: 0.4em;
	padding-left: 0.2em;
	font-weight: bold;
}
a img {
  border : 0;
}
a:link {
  text-decoration : none;
}
a:visited {
  color : #000;
  text-decoration : underline;
}
a:hover, a:active, a:focus {
  text-decoration : underline;
}
.container {
	max-width : 100%;
	min-width : 700px;
	margin: 0 auto;
}
header {
	height: auto;
	width : 100%;
	border: 0;
	padding: 0 10px;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	background-color: #043A69;
}
.sidebar1 {
	float : left;
	width : 16%;
    height: auto;
}
.content {
	width : 64%;
	float : left;
	padding-bottom : 0.2em;
	font-size : .9em;
	padding-top: 1em;
	padding-left : 0.8em;
	padding-right : .5em;
	height : auto;
	background-color: #FFFFFF;
}
.content li {
    line-height : 1.4em;
    font-size : 1em;
}
aside {
	float : left;
	width : 20%;
	height : auto;
    box-shadow: 0 0 3px 2px #EEE;
}

.content ul, .content ol {
  padding : 0 0.8em 0.8em 5em;
}
ul.nav {
  list-style : none;
  margin-bottom : 1.8em;
}
ul.nav a, ul.nav a:visited {
  display : block;
  width : 10em;
  text-decoration : none;
  padding-top : 0.3em;
  padding-right : 0.2em;
  padding-bottom : 0.3em;
  padding-left : 0.9em;
  font-size : 0.8em;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color : #0053F9;
	color : #000;
}
footer {
	position : relative;
	clear : both;
	height : auto;
	padding-top : 0.5em;
	padding-right : 0;
	padding-bottom : 0.9em;
	padding-left : 0;
	font-size : 1em;
	margin-bottom : 0;
	margin-top:40em;
	top : 10em;
	color : #FFF;
	text-align : center;
}
footer a {
  color : #FFF;
  font-size: 1em;
  padding-right : 0.5em;
  padding-left : 0.5em;
}
footer a:visited {
  color : #FFF;
}
header, section, footer, aside, article, figure {
  display : block;
}
#hdrtop {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding-top: .5em;
  border: 1px solid transparent;
}
#hdrimg {
  float: left;
  margin: .3em 0 0 .6em;
  width: auto;
}
#hdrsrch {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
ul.hdr_nav {
	list-style : none;
	background-color : transparent;
	text-align: center;
  	margin: 3em 0 .1em .5em;
	padding-top: .5em;
}
ul.hdr_nav li {
	display : inline-block;
	padding-right: .3em;
	padding-left: .3em;
}
ul.hdr_nav a, ul.hdr_nav a:visited {
	width : auto;
	font-size: .9em;
    color: #FFF;
}
ul.hdr_nav a:hover {
	text-decoration: underline;
}
.phover button {
	border-radius: 2px;
	padding: 6px 20px;
	color: #FFFFFF;
	font-family: Calibri;
	font-size: 1em;
	font-weight: 100;
	background-color: #043A69;
}
.phover p {
  color : #FFF;
  font-size : 1.2em;
  margin-left : 3em;
  user-select: text;
}
.phover span {
  visibility: hidden;
}
.phover button:hover {
    cursor: pointer;
}
.phover button:focus {
    color: #043A69;
    transition: color .3s;
    border: 0;
}
.phover button:focus ~ span {
  visibility: visible;
	margin-left: -82px;
  cursor: default;
  transition: margin .3s;
}
.rtmcqs p {
	color : #FFF;
	width : 8em;
	font-size : 1em;
	border : #CCC solid 0.1em;
	padding-top : 0.3em;
	padding-right : 0.3em;
	padding-bottom : 0.5em;
	padding-left : 0.3em;
	margin-left: 2em;
}
.rtmcqs p:hover {
	background-color : #0053F9;
}
.advright {
	text-align: center;
	padding-top: .1em;
	padding-bottom: .1em;
}
.advleft {
	text-align: center;
}
.linksright {
	margin-top: 1em;
	position: relative;
}
.rightlearnurls h3, .linksright h3 {
	width: 95%;
	padding: 0.5em 1.3em;
	text-align: left;
	color: #666;
	font-size: 1.1em;
	font-weight: bold;
}
.rightlearnurls li, .linksright li {
    padding: 0.08em 0;
    margin: 0 1em;
    line-height: 1.4em;
    list-style-type: disc;
}
.rightlearnurls a, .linksright a {
	padding-top : 0.5em;
    font-size: 1.05em;
}
.rightlearnurls a:hover, .linksright a:hover {
  text-decoration: underline;
}
.art_rt {
  font-size : 1em;
}
.art_rt img {
  left : 2em;
}
.art_rt_div {
  width : 16em;
  margin-bottom : 1.3em;
  padding-left : 1.2em;
}
.art_rt_div div {
  display : inline-block;
  width : 7em;
  height : auto;
  border : #dadada solid 0.1em;
  padding : 0.4em;
  margin-left : 1em;
}
.art_rt p {
  font-size : 1em;
  padding-right : 15em;
  line-height : 2em;
}
.hm_main_win {
  width : 100%;
  padding : 0.2em;
  margin-top : 2em;
  margin-bottom : 1.8em;
}
.hm_main_win div {
  display : inline-block;
  width : 13em;
  height : 18em;
  font-size : 1em;
  line-height : 1.3em;
  padding-right : 0.3em;
  padding-left : 0.3em;
  vertical-align : top;
  background-color : #FFFFFF;
  box-shadow: 0 0 3px 1px #f3f3f3;
}
.left_nav ul {
    list-style-type: none;
}
.left_nav li {
	list-style-type: none;
	line-height: 1.2em;
	height: auto;
	font-size: 1em;
  	font-weight: 300;
	padding: 0.6em 1em 0.6em 1.6em;
	margin-left: 0.6em;
	color: #000;
}
.left_nav a {
    color: #000;
	width: 100%;
}
.left_nav a:hover {
	cursor: pointer;
	color: #06F;
}

.images_content_div {
  padding: 20px 20px 15px 20px;
  background: #fff;
	position: relative;
  font-size: 1.3em;
  font-weight: 300;
  color: #000;
  margin-bottom: 20px;
  border: 1px solid #eee;
  box-shadow: 0 0 3px 1px #f3f3f3;
  user-select: none;
}
.images_content_div span {
  padding-left : 0.8em;
}
.slide_attempt {
	background-color : #0053F9;
	padding-top : 0.4em;
	padding-right : 0.9em;
	padding-bottom : 0.4em;
	padding-left : 0.9em;
	font-size : 1em;
	color : #fff;
	margin-top : 0.8em;
}
.slide_title {
	font-size : 1.2em;
	color : #0053F9;
	font-weight: bold;
	padding-bottom: 0.2em;
}
.hm_sb_win {
	text-align : center;
	margin-right: 0.5%;
	font-size : 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0.3em;
	padding-top: 2em;
	padding-right: 1em;
	padding-bottom: .4em;
	padding-left: 1em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1em;
	border-top-style: solid;
	border-top-color: #043A69;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #043A69;
	border-bottom-color: #043A69;
	border-left-color: #043A69;
}
.hm_sb_win:nth-child(1),
.hm_sb_win:nth-child(6),
.hm_sb_win:nth-child(11) {
  margin-right: 0;
}
.hm_sb_win span {
	font-size: 0.8em;
	font-weight: bold;
}
.hm_sb_win img {
  padding : 0.2em;
  margin-top: 60px;
}
.hm_sb_win span {
	display: block;
  font-size: 1em;
  font-weight: 400;
  color: #0053F9;
}
.main_win {
	width : 14em;
	height : 18em;
    margin-top: 0.6em;
	margin-bottom : 1em;
    margin-right: 1.7em;
    padding-top : 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	border : 1px solid #eee;
	float : left;
	position : relative;
	background-color : #fff;
	text-align : center;
	line-height : 1.5em;
	font-size: 1.1em;
    box-shadow: 0 0 3px 1px #f3f3f3;
}
.main_win a {
  color: #0053F9;
}
.main_win::before,
.main_win::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-color: transparent;
    border-style: solid;
}

.main_win::before {
	border-width: 1em;
	border-left-color: #043A69;
	border-top-color: #043A69;
}

.main_win::after {
    border-radius: 0.2em;
    border-width: .9em;
    border-left-color: #043A69;
    border-top-color: #043A69;
}
.art_win {
	width : 7.8em;
	margin : auto;
	border : #dadada solid 0.1em;
	position : relative;
	height : 10em;
	margin-top : 0.4em;
	background-color : #FAFAFA;
	text-align : center;
	line-height : 1.1em;
	font-size: .8em;
}
.art_win img {
  margin-top : 0.5em;
}
.content_images {
	float : left;
	margin: auto;
}
.chap_count {
  top : 8em;
  position : absolute;
  left : 30%;
}
br {
  clear : left;
}
.main_count {
  	width: 100%;
	top : 14em;
	position : absolute;
  	left: 0%;
	color: #000;
  	background: #f1f1f1;
  	padding: 0.4em;
}
.main_title {
	color : #0053F9;
	height: 4em;
  overflow: hidden;
}
.topics_chp {
	color : #0053F9;
	height: 4em;
  overflow: hidden;
  padding-bottom: 2em;
}

.hm_main_tle {
	top : 5em;
	color : #0053F9;
	height: 5em;
}
.slide_desc {
	top : 12em;
	color : #0053F9;
	height: 4em;
}
.sldcntup {
	top : 16em;
	color: #BE5F30;
	height: 4em;
}
.sldcntdwn {
	background-color: #DDD;
	padding-bottom: .2em;
	padding-top: .2em;
	height: 1.6em;

}
.vid_content {
  width : 62%;
  float : left;
  padding-top : .2em;
  padding-left : .5em;
  background-color : #FFFFFF;
  padding-right : .3em;
  padding-bottom:1em;
  border : #eee solid 1px;
  border-radius: 3px;
  font-size : 1.6em;
  margin-right : .1em;
  color : #3a3a3a;
  height : auto;
}
.phovervid p {
	color : #0053F9;
	width : 8.5em;
	font-size : 1em;
	font-weight : bold;
	user-select: text;
}
.phovervid p:hover {
  background-color : #FFFFFF;
}
.left_nav_vid {
    background-color : #FFF;
    width : 100%;
    font-size : 0.9em;
}
.left_nav_vid ul {
    list-style-type : none;
}
.left_nav_vid li {
    list-style-type : none;
    line-height : 1.5em;
    height : auto;
    padding-top : 0.4em;
    padding-left : 0.5em;
    padding-bottom : 0.4em;
    border-top-width : 0.1em;
    border-top-style : solid;
    border-top-color : #DFDFDF;
}
.left_nav_vid li a:hover {
	color : #0053F9;
	text-decoration : none;
}
.sidenav {
    float : left;
    width : 15%;
    padding-bottom : 0.9em;
    padding-right : 0.3em;
    padding-top : 0.5em;
    margin-right : .5em;
    background-color : #FFF;
    padding-left : 0.3em;
    height : auto;
}
.vid_content h1 {
    color : #616161;
    font-size : 1.2em;
}
.content ol {
    list-style-type : upper-alpha;
}
.lftnavtitle {
	height : auto;
	width : 82%;
	font-size : 1.1em;
	font-weight: strong;
	padding: 10px;
	color: #000;
	margin: 1.5em auto 0.5em auto;
}
.lftnavtitle a {
	color : #0053F9;
}
.lftnavtitle a:hover {
	text-decoration: underline;
}
.con_article_img {
    padding-top : 6em;
    left : 5%;
    width : 100%;
}
.advrbottom {
	padding-top : 1em;
}
.social_buttons {
	margin-top : 2em;
	margin-bottom : 2em;
	background-color : #056C9E;
	height : 2.4em;
	width : 97%;
	padding-top : 0.8em;
	padding-left : 1em;
}
.search_bar_top {
	margin-bottom : 1em;
	background-color : #056C9E;
	height : 2.4em;
	width : 97%;
	padding-top : 0.8em;
	padding-left : 1em;
}
.rad_option {
  padding-left : 0.5em;
}
.rtt_mcqs ol {
  list-style-type : upper-alpha;
  margin-left : 2em;
  padding-bottom : 2em;
}
.rtt_mcqs span {
  padding-left : 0.5em;
}
.mcq_style {
	color: #0053F9;
}
.amz_btmdiv {
	height: 8em;
	width: 45%;
	text-align: center;
	display: inline-block;
	border: .1em solid #CCC;
	margin: .5em;
}
.amz_image {
	height: 8em;
	width: 25%;
	float: left;
}
.amz_image img {
	height: 7em;
	padding: .2em;
}
.amz_rtdiv {
	height: 8em;
	width: 70%;
	float: right;
}

.amz_cap {
	height: 70%;
	font-size: 1em;
}
.amz_prc {
	height: 20%;
	font-size: 1.4em;
	color: #C00;
	font-weight: 100;
}
.cntry_select {
	background-color: #0053F9;
	text-align: center;
	width: 95%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.cntry_select a {
	color: #FFF;
	font-size: 1.2em;
}
.topicslist {
  height: auto;
  padding: 0 !important;
	padding-bottom: 1em;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.topicslist li {
	display: block;
	background: #fff;
	margin-bottom: 1em;
	padding: .7em;
	box-shadow: 0 0 3px 1px #f3f3f3;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 6px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eee;
	border-right-color: #eee;
	border-bottom-color: #eee;
	border-left-color: #09F;
}
.topicslist a {
	font-size: 1.2em;
	color: #0053F9;
}
.sbtpcnt {
  float: right;
  padding-right: .5em;
}
.addthis_horizontal_follow_toolbox {
	margin-left: 16%;
	font-size: .75em;
}
.srch_share_div {
	margin-top: 3em;
	position: relative;
}
.srch_bar_top {
	background-color : #71a3f7;
	height : 2.2em;
	width : 97%;
	padding-top : 0.7em;
	padding-bottom: 0.2em;
	padding-left : 1em;
}
.excl_deals {
	float: right;
	font-size: 0.9em;
	color: #FFF;
	background-color: #C30;
	height: 1.8em;
	width: auto;
	line-height: 1.2em;
	padding-top: 0.6em;
	padding-right: 0.4em;
	padding-bottom: 0.2em;
	padding-left: 0.4em;
	margin-right: .2em;
	margin-left: .2em;
}
.excl_deals a {
	color: #FFF;
}
.rightlearnurls p {
	font-size: 1.1em;
	font-weight: 300;
  line-height: 1.5em;
  padding: 1em 1.5em;
  color: #3a3a3a;
}
.rightlearnurls p>a {
	color: #0053F9;
}
.rightlearnurls ul, .linksright ul {
	font-weight: 300;
	list-style-type: disc;
	padding: 0 1em 1em 1.5em;
}
.prevnext {
	margin: 0 auto;
}
.art_content p {
	font-size: 1em;
}
.art_content img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 80%;
}
.ebooks {
	background-color: #F00;
	text-align: center;
	padding: 0.2em;
	margin: .3em;
}
.ebooks a {
	color: #FFF;
	font-size: 1em;
}
.assotbooks {
	text-align: center;
	padding: 0.2em;
	margin: .3em;
	font-size: 0.8em;
	color: #C00;
}
.assotbooks a {
	font-size: 1em;
	color: #0053F9;
}
.assotbooks img {
	padding-top: .5em;
	padding-bottom: .5em;
}
.linkad {
	text-align: center;
	padding: .2em;
}
.linkad1 {
	padding-top: .1em;
	padding-bottom: .5em;
}
.ebktitle {
	margin-top: 10em;
	padding: 0.4em;
	text-align : center;
	background-color: #68A7AD;
	margin-bottom : 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: relative;
	border-radius: 3px;
}
.ebktitle a {
	color: #FFF;
	font-size: 1.1em;
}
.adbtmbtw {
	margin-bottom: 0.5em;
}
.advrcnttop {
	padding-top: 3px;
	padding-bottom: 3px;
}
.pagprev {
	padding: 0.8em 1em;
	width: 45%;
	font-size: 1.2em;
	border: 1px solid #09F;
	vertical-align: middle;
	float: left;
	text-align: center;
	border-radius: .5em;
	height: auto;
	margin: 1em;
	background-color: #737498;
}
.pagnext {
	padding: 0.8em 1em;
	width: 45%;
	font-size: 1.2em;
	border: 1px solid #09F;
	vertical-align: middle;
	float: left;
	text-align: center;
	border-radius: .5em;
	height: auto;
	margin: 1em;
	background-color: #F27D80;
}
.pagprev a, .pagnext a {
	color: #FFF;
}
.pagprev:hover, .pagnext:hover {
	cursor: pointer;
}
.pagprev:hover a, .pagnext:hover a {
	color: #FFF;
}
.pagination_link {
	padding-top: .5em;
	padding-bottom: .5em;
}
.hdrad {
	margin-bottom : 1.5em;
	text-align: center;
}
.linkhdrnv {
	text-align: center;
	margin-bottom : 2.5em;
	padding-top: 0.2em;
	padding-bottom:0.3em;
	color: #FFF;
	background-color: #FFF;
	width:auto;
}
.rghtside {
	float : left;
	width : 20%;
	background-color : #FFFFFF;
	border : 0.05em solid #F3F3F3;
	height : 61.5em;
}
.amaz_wndw {
	padding-top: 1em;
	height: auto;
	text-align: center;
	margin-bottom: 2em;
}
.search_bar {
	margin-bottom: 0.5em;
	background-color: #CCC;
	height: 2em;
	padding-top: 0.5em;
	padding-left: 1em;
}
.mcq_srt {
	font-weight: bold;
}
.btmadcnt {
	margin-top: .2em;
	height:auto;
	margin-bottom: .2em;
}
div.image_container1 {
  position : relative;
  float: left;
}
div.image_container2 {
  font-size : .7em;
}
div.image_container1 img {
	padding-left: .5em;
	padding-top: .5em;
}
ul.ebkbuy {
	font-size : .8em;
	text-align: center;
}
ul.ebkbuy li {
  display : inline-block;
  margin-top : 0.4em;
  padding : 1em;
}
ul.ebkbuy a:hover, ul.ebkbuy a:active, ul.ebkbuy a:focus {
  text-decoration : underline;
}
ul.ebkbuypg {
	font-size : .8em;
	text-align: center;
}
ul.ebkbuypg li {
	list-style-type: none;
	display: inline-block;
}
ul.ebkbuypg a {
	display : inline-block;
	margin-top : 0.4em;
	border-radius: 5px;
	padding: 0.3em 0.5em;
	box-shadow: 0 0 3px 1px #ccc;
	transition: background .2s, color .2s;
}
ul.ebkbuypg a:hover, ul.ebkbuypg a:active, ul.ebkbuypg a:focus {
  text-decoration : none;
  background: #0084b4;
  color: #fff;
}
.ebooksrgt {
	margin-top : 1em;
	text-align: center;
}
.ebooksrgt img {
	padding-bottom: 2em;
}
.ebkprice {
	width : auto;
	text-decoration : none;
	padding-right : 0.3em;
	padding : .3em;
	color : #FFFFFF;
	background-color: #093;
}
.chp_count {
	top : 9em;
	position : absolute;
	left : 30%;
	font-size : 1em;
	color: #BE5F30;
}
.hdrtopall {
	text-align: center;
	margin: 0 auto;
	padding-top: .4em;
	padding-bottom : 5em;
}
.lftads {
	padding-top: 4px;
	padding-bottom: 4px;
}
.btmlftad {
	padding: 0px 1em;
	width: 40%;
	vertical-align: middle;
	float: left;
	display: inline;
	padding-top: 3em;
}
.btmrtad {
	padding: 0px 1em;
	width: 40%;
	color: #FFF;
	float: right;
	display: inline;
	padding-top: 3em;
}
.btmum {
	margin-top: 2em;
	position:relative;
}
.topicsmcq {
    height: auto;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}
.topicsmcq li {
	display: block;
	font-size: 1.2em;
}
.qzwin {
	width : 12em;
	margin-bottom : 3em;
	border : 0.1em solid #000000;
	float : left;
	position : relative;
	height : 5em;
	margin-left : 4em;
	background-color : #0053F9;
	text-align : center;
	line-height : 1.4em;
	font-size: 1.1em;
	padding-top: 1.5em;
	padding-right: .4em;
	padding-left: .4em;
	vertical-align: middle;
}
.qztxt {
	padding-top: 2em;
	color: #FFF;
}
.qzwnall {
	padding-top: 1em;
	padding-bottom: 1em;
	height: auto;
}
.adspcklnk {
	margin-top: 1em;
	margin-bottom: 2em;
}
.ebkdsply {
	margin: 0 auto;
	text-align: center;
}
.bntyrtsd {
	height : auto;
	width: 82%;
	text-align : center;
	line-height: 22px;
	padding: 5px;
	border-radius: 3px;
	margin: 1em auto 0 auto;
}
.bntyrtsd a {
	color: #333;
	padding: 0.4em;
	font-size: 1em;
}
.bntyrtsd a:hover {
    text-decoration: underline;
}
.knrdap {
	width: 60%;
	text-align : center;
	padding: 5px;
	border-radius: 3px;
	margin: 1em auto 0 auto;
	display: block;
	clear: both;
	line-height: 1.4em;
	background-color: #0088FF;
}
.knrdap a {
	color: #FFF;
	font-size: 1em;
}
.addthis_inline_follow_toolbox_nqv0 {
	margin: 0 28% 0 30%;

	text-align: center;
}
.ibkdsply {
	margin: 0 auto;
	text-align: center;
	padding-bottom: .5em;
}
.lmlkad {
	margin-top: 2em;
	margin-bottom: .5em;
}
.linksbox {
	padding-top: 1em;
	padding-bottom: 1em;
}
#fbox-background {
  display:none;
  background:rgba(0,0,0,0.8);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:99999
}
#fbox-close {
  width:100%;
  height:100%
}
#fbox-display {
  background:#eaeaea;
  border:5px solid #828282;
  width:300px;
  height:230px;
  position:absolute;
  top:32%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px
}

#fbox-button {
  float:right;
  cursor:pointer;
  position:absolute;
  right:0;
  top:0
}
#fbox-button:before {
  content:"CLOSE";
  padding:5px 8px;
  background:#828282;
  color:#eaeaea;
  font-weight:700;
  font-size:10px;
  font-family:Tahoma
}
#fbox-link,#fbox-link a.visited,#fbox-link a,#fbox-link a:hover {
  color:#aaa;
  font-size:9px;
  text-decoration:none;
  text-align:center;
  padding:5px
}
.ebkcontent {
  width : 74%;
  float : left;
  padding-top : .2em;
  padding-left : .5em;
  background-color : #FFFFFF;
  padding-right : .3em;
  padding-bottom:1em;
  font-size : 1.6em;
  margin-right : .1em;
  color : #000;
  height : auto;
}
.bkwrap {
	border: thin solid #CCC;
}
.topicsfaq {
    height: auto;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
	padding-bottom:1em;
}
.topicsfaq li {
	display: block;
	border: 1px solid #999;
	margin-bottom: 1em;
	padding: .3em;
	background-color: #E7E7E7;
	border-radius: .5em;
}
.topicsfaq a {
	font-size: 1em;
}
.adftr {
	padding: .2em;
	margin: .5em auto;
}
.ftr_prt {
	background-color: #043A69;
	padding-bottom: 1em;
	padding-top: 1em;
}
.slct_lng {
	text-align: center;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 1.5em;
	padding-left: 0.5em;
}
.jobs_div a
{
	font-size: 1.3em;
}
.learn_brd {
	height : auto;
	width : 82%;
	text-align : left;
	margin: 0 auto 1.5em auto;
	padding: 10px;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	font-weight: strong;
}
.learn_brd:active {
    border-bottom: 0;
    padding: 12px 10px 11px 10px;
}
.learn_brd li {
	list-style-type : none;
}
.learn_brd a {
	color: #666;
}
.learn_brd a:hover {
    text-decoration: underline;
}
.learn_brd a:focus {
    text-decoration: none;
}
.mqsinrad {
	padding-top: .5em;
	padding-bottom: .5em;
}
.mcqsh1ebk a {
	width: auto;
	vertical-align: middle;
	margin-top: -10px;
	padding: 3px 15px;
	font-size: 0.7em;
	border-radius: 1.2em;
	background-color: #0088FF;
	color: #FFFFFF;
}
.mcqsh1ebk a:hover {
	text-decoration: none;
}
.mcqsh1relebk a {
	width: auto;
	vertical-align: middle;
	margin-top: -10px;
	padding: 3px 15px;
	font-size: 0.7em;
	border-radius: 1.2em;
	background-color: #0088FF;
	color: #FFFFFF;
}
.mcqsh1relebk a:hover {
	text-decoration: none;
}
.self_url {
	pointer-events: none;
	cursor: default;
}
.srch_hdr {
	width: 25%;
	display: inline-block;
	float: right;
}
.knrbnty {
	text-align : center;
	padding: 0.3em;
	border-radius: 3px;
	display: block;
	clear: both;
	line-height: 1.4em;
	background-color: #DDD;
	width: 80%;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.knrbnty a {
	color: #000;
	font-size: 1em;
}
.adthsfrmt {
	margin: 0 auto;
	text-align: center;
}
#inline {
	width:100%;
	text-align: center;
	display:flex;
	justify-content: center;
	}
.app_store {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-right: 2px;
}
.addthis_sharing_toolbox {
	text-align: center;
	} 
.interactive {
	width: auto;
	text-align : center;
	padding: 5px;
	border-radius: 4px;
	margin-top: -5px;
	margin-left: 4px;
	display: block;
	line-height: 1.4em;
	background-color: #990000;
}
.interactive a {
	color: #FFF;
	font-size: 1em;
}
.interactive a:hover {
	text-decoration: none;
}
.affiliate-disclaimer-detail {
	text-align: center;
	font-size: 0.8em;
	color: #666;
}