@media screen and (max-width : 480px) {
@charset "utf-8";
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('fonts/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}


/* MAIN CONTENT STARTS HERE*/

*{
	box-sizing: border-box;
}

@media screen and (max-width : 480px) {
body {
	color : #3A3A3A;
	font-family: 'Roboto';
	background-color : #FFFFFF;
	margin: 0;
	padding: 0;
}
#images_content_div
{
	user-select: none;
}

#hdrimg {
	text-align: center;
	width: 100%;
	padding: 10px;
	margin-bottom: 0.1em;
	background-color: #0A2A66;
}
#hdrsrch {
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.container a {
	text-decoration: none;
}
.hdr_nav {
	padding-top: .1em;
	padding-bottom: .3em;
	color: #000;
   }
header ul {
	padding-left: 0;
   }
.hdr_nav li {
	width: 95%;
	list-style : none;
	padding: 0.2em 0;
	margin: 0 auto 0.2em auto;
	border: 1px solid #e9e9e9;
	box-shadow: 0 0 3px 1px #f1f1f1;
	font-size: 1.1em;
	color: #3A3A3A;
}
.hdr_nav li:first-child {
   border-top: none;
}
.hdr_nav li:last-child {
   border-bottom: none;
}
.hdr_nav li a {
	padding-left: 1em;
	font-size: 1em;
	line-height: 1.6em;
	height: 3em;
	color: #000;
	text-decoration: none;
}
.phover p {
	color : #0A2A66;
	width : 7em;
	font-size : 1em;
	color: #FFF;
	margin-left : 3em;
	padding : 0;
	user-select: text;
}
.phover button {
	border-radius: 2px;
	padding: 6px 20px;
	color: #FFFFFF;
	font-family: Calibri;
	font-size: 1em;
	font-weight: 100;
	background-color: #043A69;
}
.phover p {
  color : #FFF;
  font-size : 1.2em;
  margin-left : 3em;
}
.phover span {
  visibility: hidden;
}
.phover button:hover {
    cursor: pointer;
}
.phover button:focus {
    color: #043A69;
    transition: color .3s;
    border: 0;
}
.phover button:focus ~ span {
  visibility: visible;
	margin-left: -60px;
  cursor: default;
  transition: margin .3s;
}
.ebkdsply {
	margin: 0 auto;
	text-align: center;
}
footer {
	position : relative;
	clear : both;
	text-align : center;
	color: #FFF;
}
footer a {
	color: #FFF;
	padding-left: .2em;
	padding-right: .2em;
	line-height: 1.6em;
}
.hm_main_win {
	width : 100%;
	padding : 0.3em;
	margin-top : 2em;
	margin-bottom : 1.8em;
}
.hm_main_win div {
	display : inline-block;
	width : 43%;
	height : 16em;
	font-size : .8em;
	line-height : 1.3em;
	padding-right : 0.3em;
	padding-left : 0.3em;
	vertical-align : top;
}
.hm_sb_win {
	text-align : center;
	margin-right: 0.5%;
	font-size : 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0.3em;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: .4em;
	padding-left: 1em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1em;
	border-top-style: solid;
	border-top-color: #666699;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #666699;
	border-bottom-color: #666699;
	border-left-color: #666699;
}
.hm_sb_win:nth-child(1),
.hm_sb_win:nth-child(6),
.hm_sb_win:nth-child(11) {
  margin-right: 0;
}
.hm_sb_win span {
	font-size: 0.8em;
	font-weight: bold;
}
.hm_sb_win img {
  padding : 0.2em;
  margin-top: 60px;
}
.hm_sb_win span {
	display: block;
  font-size: 1em;
  font-weight: 400;
  color: #0A2A66;
}
.hm_main_tle {
	top : 4em;
	color : #0053F9;
	height: 5em;
}
.slide_desc {
	top : 10em;
	color : #0053F9;
	height: 3em;
}
.sldcntup {
	top : 16em;
	color: #BE5F30;
	height: 4em;
}
.sldcntdwn {
	background-color: #DDD;
	padding-bottom: .2em;
	padding-top: .2em;
	height: 1.6em;

}
.main_win {
	width : 40%;
	height : 10em;
    margin-top: 0.6em;
	margin-bottom : 1em;
    margin-right: 1em;
	margin-left: 1em;
    padding : .7em;
	border : 1px solid #eee;
	float : left;
	position : relative;
	background-color : #fff;
	text-align : center;
	line-height : 1.5em;
	font-size: .7em;
    box-shadow: 0 0 2px 1px #f3f3f3;
}
.main_win a {
  color: #0053F9;
}
.main_win::before,
.main_win::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-color: transparent;
    border-style: solid;
}

.main_win::before {
	border-width: 1em;
	border-left-color: #0A2A66;
	border-top-color: #0A2A66;
}

.main_win::after {
    border-radius: 0.2em;
    border-width: .9em;
    border-left-color: #0A2A66;
    border-top-color: #0A2A66;
}
.chp_count {
	top : 6.5em;
	position : absolute;
	left : 30%;
	font-size : 1em;
	color: #BE5F30;
}
.main_count {
	top : 8.5em;
	position : absolute;
	left : 24%;
	color: #BE5F30;
}
.topicslist {
  height: auto;
  padding: 0 !important;
	padding-bottom: 1em;
}
.topicslist li {
	display: block;
	background: #fff;
	margin-bottom: 1em;
	padding: .7em;
	box-shadow: 0 0 3px 1px #f3f3f3;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 6px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eee;
	border-right-color: #eee;
	border-bottom-color: #eee;
	border-left-color: #09F;
}
.topicslist a {
	font-size: 1em;
  	color: #0053F9;
}

.sbtpcnt {
	float: right;
  	padding-right: .5em;
  	color: #BE5F30;
}
.ibkdsply {
	margin: 0 auto;
	text-align: center;
}
.rtmcqs p {
	color : #FFF;
	width : 8em;
	font-size : 1em;
	border : #CCC solid 0.1em;
	padding-top : 0.3em;
	padding-right : 0.3em;
	padding-bottom : 0.5em;
	padding-left : 0.3em;
	margin-left: 2em;
}
.rtmcqs p:hover {
	background-color : #0053F9;
}
ul.ebkbuy {
	font-size : .6em;
	text-align: center;
	clear: both;
}
ul.ebkbuy li {
  display : inline-block;
  margin-top : 0.4em;
  padding : 1em;
}
ul.ebkbuypg {
	text-align: center;
	clear: both;
	padding-left: 0px;
}
ul.ebkbuypg li {
	display: inline-block;
	list-style-type: none;
	margin: 5px;
}
ul.ebkbuypg a {
	display: inline-block;
 	box-shadow: 0 0 5px 1px #ccc;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background .2s, color .2s;
}
ul.ebkbuypg a:hover {
	background: #0084b4;
	color: #fff;
	text-decoration: none;
}
.lftnavtitle {
	width: 100%;
	font-size: 1em;
	color: #000;
	background-color: #F1F1F1;
	text-align: center;
	border-radius: 0.4em;
	padding: 0.6em 0;
	list-style : none;
}
.lftnavtitle a {
	color: #000;
}
.ebktitle {
	margin: 0 auto;
	text-align: center;
	background-color: #009933;
	margin-top: 5em;
	margin-bottom: 3em;
	padding: 1em;

}
.ebktitle a {
	color: #FFF;
	font-size: 1em;
}
.bntyrtsd {
	height : auto;
	width: 90%;
	text-align : center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 2px;
	background-color: #CC3431;
	margin: 1em auto 0 auto;
}
.bntyrtsd a {
	color: #FFF;
	padding: 0.4em;
	font-size: 1em;
}
.btmadcnt{
	padding-top: .5em;
}
.adspck {
	padding-top: 4em;
}
#fbox-background{
	display:none;
	background:rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:99999
}
#fbox-close{
	width:100%;
	height:100%
}
#fbox-display{
	background:#eaeaea;
	border:5px solid #828282;
	width:300px;
	height:230px;
	position:absolute;
	top:32%;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px
}
#fbox-button{
	float:right;
	cursor:pointer;
	position:absolute;
	right:0;
	top:0
}
#fbox-button:before{
	content:"CLOSE";
	padding:5px 8px;
	background:#828282;
	color:#eaeaea;
	font-weight:700;
	font-size:10px;
	font-family:Tahoma
}
#fbox-link,#fbox-link a.visited,#fbox-link a,#fbox-link a:hover{
	color:#aaa;
	font-size:9px;
	text-decoration:none;
	text-align:center;
	padding:5px
}
.mcq_srt {
	font-weight: bold;
}
.hdrtopall {
	margin: 0 auto;
	text-align:center;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .2em;
	padding-right: .2em;
}
.lftads {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .2em;
	padding-right: .2em;
}
.linkad {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .2em;
	padding-right: .2em;
}
.advrcnttop {
		padding-top: .3em;
	    padding-bottom: .3em;
}
.linkad1 {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .2em;
	padding-right: .2em;
}
.btmadcnt {
	padding-top: .2em;
	padding-bottom: .1em;
}
.btmum {
		padding-top: 1em;
	padding-bottom: .1em;
}
.linkmcqad {
		padding-top: 1em;
	padding-bottom: .1em;
}
.advright {
	text-align: center;
	padding-top: .1em;
	padding-bottom: .1em;
}
.adftr {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .2em;
	padding-right: .2em;
}
h1 {
	font-size: 1.3em;
	font-weight: 400;
	color: #000;
	text-align: left;
	padding: 0.4em;
}
.descript {
	padding: 0 1em;
	justify-content: center;
}
.mcqsh1ebk a {
	width: auto;
	vertical-align: middle;
	margin-top: -10px;
	padding: 3px 15px;
	font-size: 0.7em;
	border-radius: 1.2em;
	background-color: #0088FF;
	color: #FFFFFF;
}
.mcqsh1relebk a {
	width: auto;
	vertical-align: middle;
	margin-top: -10px;
	padding: 3px 15px;
	font-size: 0.7em;
	border-radius: 1.2em;
	background-color: #0088FF;
	color: #FFFFFF;
}
h2 {
	font-size: 1.2em;
	font-weight: 400;
	color: #000;
	background-color: #FFF;
	text-align: left;
	padding: 0.4em;
}
h3 {
	background: #F1F1F1;
	font-size: 1.1em;
	font-weight: 400;
	color: #000;
	text-align: center;
	padding-top: 0.4em;
	padding: 0.4em;
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 0.3em;
}
.ebkcontent {
	width : 100%;
	float : left;
	padding-top : .2em;
	padding-left : .5em;
	background-color : #FFFFFF;
	padding-right : .3em;
	padding-bottom:1em;
	font-size : 1em;
	margin-right : .1em;
	color : #000;
	height : auto;
}
.bkwrap {
	border: 1px solid #CCC;
	width: 100%;
}
.image_container1 {
	display: block;
	width: 100px;
	height: 200px;
	margin: 10px auto 0 auto;
}
.image_container1 img {
	width: 100px;
	height: auto;
}
.image_container2, .image_container2 p {
	float: left;
	margin-top: 0;
}
}
.learn_brd {
	color: #000;
	font-size: 1em;
}
.linksright ul {
	line-height: 1.5em;
}
.ftr_prt {
	background-color: #0A2A66;
	padding-bottom: 1em;
	padding-top: 1em;
}
.content_images {
	float : left;
	width: 100%;
}
.slct_lng {
	text-align: c;enter;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 1.5em;
	padding-left: 0.5em;
}
header, section, footer, aside, article, figure {
  display : block;
}
.knrdap {
	width: 60%;
	text-align : center;
	padding: 5px;
	border-radius: 3px;
	margin: 1em auto 0 auto;
	display: block;
	clear: both;
	line-height: 1.4em;
	background-color: #0088FF;
}
.knrdap a {
	color: #FFF;
	font-size: 1em;
}
.phover button {
	border: 0;
	border-radius: 3px;
	padding: 6px 20px;
	color: #FFFFFF;
	font-family: 'Calibri';
	font-size: 1em;
	font-weight: 100;
	background-color: #043A69;
}
.phover p {
  color : #FFF;
  font-size : 1.2em;
  margin-left : 3em;
}
.phover span {
  visibility: hidden;
}
.phover button:hover {
    cursor: pointer;
}
.phover button:hover {
    color: #0053F9;
    transition: color .3s;
    border: 0;
}
.phover button:hover ~ span {
  	visibility: visible;
	margin-left: -62px;
  	cursor: default;
  	transition: margin .3s;
}
.mqsinrad {
	padding-top: .5em;
	padding-bottom: .5em;
}
.self_url {
	pointer-events: none;
	cursor: default;
}
.knrbnty {
	text-align : center;
	padding: 0.3em;
	background-color: #CC3431;
	margin: 3em auto 0 auto;
	display: block;
	clear: both;
	line-height: 1.4em;
	background-color: #BB0000;
}
.knrbnty a {
	color: #FFF;
	font-size: 1em;
}
.adthsfrmt {
	margin: 0 auto;
	text-align: center;
}
.content ol {
    list-style-type : upper-alpha;
}
.addthis_sharing_toolbox {
	padding-top: .5em;
	text-align: left;
}
#inline {
	width:100%;
	text-align: center;
	display:flex;
	justify-content: center;
	}
.app_store {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-right: 2px;
}
.addthis_sharing_toolbox {
	text-align: center;
	} 
.interactive {
	width: auto;
	text-align : center;
	padding: 5px;
	border-radius: 4px;
	margin-top: -5px;
	margin-left: 4px;
	display: block;
	line-height: 1.4em;
	background-color: #990000;
}
.interactive a {
	color: #FFF;
	font-size: 1em;
}
.interactive a:hover {
	text-decoration: none;
}
.affiliate-disclaimer-detail {
	text-align: center;
	font-size: 0.8em;
	color: #666;
}
}
